// Colors
$main-clr: rgb(86, 102, 88);

$clr-light-1: rgb(255, 255, 255);
$clr-light-2: rgb(241, 245, 241);
$clr-light-3: rgb(235, 235, 235);
$clr-light-4: rgb(199, 195, 195);
$clr-light-5: rgb(178, 175, 175);
$clr-light-6: rgb(199, 195, 195);
$clr-light-7: rgb(112, 112, 112);


$clr-dark-1: rgb(0, 0, 0);
$clr-dark-2: rgb(26, 26, 26);
$clr-dark-3: rgb(38, 38, 38);
$clr-dark-4: rgb(50, 52, 50);
$clr-dark-5: rgb(75, 75, 75);
$clr-dark-6: rgb(112, 112, 112);

$clr-blue-1: rgb(57, 134, 168);

// Paddings Mobile
$pad-main-mbl: 2rem;
$pad-scd-mbl: 3rem;

// Paddings Desktop
$pad-main-desk: 8rem;
$pad-scd-desk: 10rem;